<nav class="navbar fixed-top nav-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-bold" [routerLink]="['productList']">
          <span style="font-size:xx-large" class="mx-5"><b>Kitchen Story</b></span>
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['productList']"><span class="h4"><b><i>Products</i></b></span></a>
          </li>
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav me-5 mb-2 mb-lg-0">
            <li class="nav-item me-5">
              <a class="nav-link" [routerLink]="['login']"><span class="h4"><b><i>Login</i></b></span></a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
<router-outlet></router-outlet>