<div class="fluid-container  row mt-5 pt-5">
    <div class="col-md-2"></div>
    <div class="card bg-light m-5 col-md-6 p-5">
        <div style="text-align:center">
            <h1 class="text-warning">Your Payment is Done!</h1>
                <h2 class="text-success">
                    Your Order Confirmed. your Order Id is : {{id}}
                </h2>
                <h3 class="text-primary">
                    Thank You. Have a Good Day !!!
                </h3>
                <button class="btn btn-primary p-2 m-2" (click)="backToHome()">Back to Home</button>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
